.sidebar
	.well
		h4 Year
		ul
			each entry in numberOfRunsPerYear
				li
					a(href='/runs/#{entry.year}') #{entry.year} (#{entry.numberOfRuns})

.content
	.page-header
		h1.inline-title My Runs in #{year}
		span.top-command-buttons
			a.btn.primary(href='/runs/new') Add New Run
	
	table.zebra-striped
		thead
			tr
				th Date
				th Distance
				th Duration
				th Speed
				th Avg. Heart Rate
				th Shoes
				th
				th
		tbody
			each run in runs
				tr
					td #{run.date}
					td #{run.distance}
					td #{run.duration.hours}h #{run.duration.minutes}min #{run.duration.seconds}sec
					td #{run.speed}
					td #{run.averageHeartRate}
					td #{run.shoes}
					td 
						a(href='/runs/#{run.id}') Edit
					td 
						a(href='#') Delete