fieldset
	div(class='control-group' + (validationErrors.date ? ' error' : ''))
		label.control-label(for='date') Date *
		.controls
			input#date(type='text', name='date', class='span3', autocomplete='off', value=run.date)
			span.help-inline #{validationErrors.date}

	div(class='control-group' + (validationErrors.distance ? ' error' : ''))
		label.control-label(for='distance') Distance *
		.controls
			input#distance(type='text', name='distance', class='span2', autocomplete='off', value=run.distance)
			span.unit km
			span.help-inline #{validationErrors.distance} 

	div(class='control-group' + (validationErrors.duration ? ' error' : ''))
		label.control-label Duration *
		.controls
			.inline-inputs
				input#hours(type='text', name='durationHours', class='span1', autocomplete='off', value=run.duration.hours)
				span.unit h
				input#minutes(type='text', name='durationMinutes', class='span1', autocomplete='off', value=run.duration.minutes)
				span.unit min
				input#seconds(type='text', name='durationSeconds', class='span1', autocomplete='off', value=run.duration.seconds)
				span.unit sec
				span.help-inline #{validationErrors.duration}

	div(class='control-group')
		label.control-label(for='averageHeartRate') Avg. Heart Rate
		.controls
			input#averageHeartRate(type='text', name='averageHeartRate', class='span2', autocomplete='off', value=run.averageHeartRate)
			span.unit bpm

	div(class='control-group' + (validationErrors.shoes ? ' error' : ''))
		label.control-label(for='shoes') Shoes *
		.controls
			select#shoes(name='shoes', class='span3')
				option(value = -1) Select a pair of shoes ...
				each pairOfShoes in pairsOfShoes
					option(value = pairOfShoes.id, selected=(pairOfShoes.id == run.shoes)) #{pairOfShoes.name}
			span.help-inline #{validationErrors.shoes} 
	
	div(class='control-group')
		label.control-label(for='comments') Comments
		.controls
			textarea#comments(name='comments', class='span6', rows='4', autocomplete='off') #{run.comments}