.span3
	.well.sidebar-nav
		h4 Active Pair of Shoes
		ul
			each shoe in shoes
				if shoe.inUse
					li #{shoe.name}

.span11
	.page-header
		h1.inline-title My Shoes
		span.top-command-buttons
			a.btn.btn-primary(href='/shoes/new') Add New Pair of Shoes
	
	table.table.table-bordered.table-striped
		thead
			tr
				th Name
				th Size
				th Color
				th Purchase Date
				th In use
				th Distance
				th Status
				th
				th
		tbody
			each shoe in shoes
				tr
					td #{shoe.name}
					td #{shoe.size}
					td #{shoe.color}
					td #{shoe.purchaseDate}
					
					if shoe.inUse
						td
							input(type='checkbox', disabled, checked='checked')
					else
						td 
							input(type='checkbox', disabled)

					td #{shoe.distance}
					td #{shoe.status} 
					td 
						a(href='/shoes/#{shoe.id}') Details
					td
						a(href='/shoes/#{shoe.id}/wear') Update wear 
						span.help-block Last updated on #{shoe.lastStatusUpdate}	